@import "https://fonts.googleapis.com/css?family=Indie+Flower|Lato|Oswald";

/*font-family: 'Indie Flower', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Lato', sans-serif;*/

body {
	margin: 0;
	background-color: #DCCFEC;
	font-family: 'Oswald', sans-serif;
	box-sizing: border-box;
	color: #1A3A3A;
}

a {
	color: #000;
}

/***** HEADINGS *****/

#zen-intro h1 {
	background-color: #4F517D;
	color: #FFF;
	margin: 0;
	padding: 0.5em 0;
	width: 100%;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 500%;
	position: relative;
	z-index: 1;
}

#zen-intro h2 {
	background-image: url("images/zen_1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-size: 800%;
	width: 100%;
	height: 5em;
	display: inline-block;
	margin: 0;
	text-align: center;
	padding: 5% 0;
	position: relative;
	z-index: 1;
}

/*****  *****/

#zen-summary {
	width: 48%;
	padding: 5%;
	font-size: 1.8em;
	background-color: #4F517D;
	color: #fff;
	margin: 5% 0 5% 5%;
	opacity: 0.9;
}

#zen-summary a {
	color: hotpink;
	border: 1px solid white;
	padding: 20px;
}

#zen-preamble {
	width: 55%;
	padding: 5%;
	padding-right: 45%;
	font-size: 1.25em;
	background-color: #A997DF;
	/*opacity: 0.9;*/
}

/***** MAIN *****/

.main {
	padding: 2.5%;
	font-family: 'Lato', sans-serif;
}

#zen-explanation, #zen-participation, #zen-benefits, #zen-requirements {
	padding: 2% 4%;
	font-size: 1.5em;
	width: 60%;
	margin-bottom: 3%;
	/*padding-right: 10%;*/
	/*opacity: 0.8;*/
}

#zen-explanation, #zen-benefits {
	background-color: #4F517D;
	color: #FFF;
	/*float: left;*/
}

#zen-participation, #zen-requirements {
	background-color: #A997DF;
	/*float: right;*/
}

/***** FOOTER *****/

footer {
	background-color: #1A3A3A;
	padding: 5%;
	margin-left: -5%;
	margin-right: -5%;
	font-size: 1.5em;
	position: relative;
	z-index: 1;
}

footer a {
	color: white;
	padding: 7.5%;
}

/***** SIDEBAR *****/

.sidebar {
	background-color: #1A3A3A;
	color: #FFF;
	opacity: 0.9;
	padding: 5%;
	width: 20%;
	height: 65%;
	margin: 4% 2%;
	float: right;
	position: fixed;
	right: 0px;
	top: 0px;
	/*z-index: -1;*/
}

.sidebar a {
	color: #FFF;
}
